<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <div class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                    <a class="navbar-brand" href="/" style=" font-size:25px"> HOME</a>
                    <a class="navbar-brand" href="/" style=" font-size:25px"> PITCH</a>
            </div>
            <h2 style="text-align: center; color: white;">Welcome to where you can pitch your ideas</h2>
              <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                       {% if current_user.is_authenticated %}
        
                           <li><a href="/">{{current_user.username.capitalize()}}</a></li>
                           <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
        
                       {%else%}
                           <li><a href="{{url_for('auth.login')}}" style="border-radius: 13%;">Login</a></li>
        
                       {%endif%}
                    </ul>
               </div>
        
          </div>
        </div>
  </body>
</html>
